<div class="container">
    <nav class="navbar navbar-default nav-pills">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand page-title" href="#/admin/movies"><h2>Movieflix</h2>
                </a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/admin/movies">All Titles<span class="sr-only">(current)</span></a></li>
                    <li><a href="#/admin/addMovie">Add Movie</a></li>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <input type="search" ng-model="moviesAdminVm.searchText.title" placeholder="Start typing here..."
               class="form-control searchBox">
    </div>
    <table class="table table-striped table-hover list">
        <thead>
        <tr>
            <th></th>
            <th ng-click="moviesVm.changeSort('title')">Movie</th>
            <th>Actors</th>
            <th ng-click="moviesVm.changeSort('year')">Year</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="movie in moviesAdminVm.movies | filter:moviesAdminVm.searchText | orderBy: moviesAdminVm.sorter.by:moviesAdminVm.sorter.reverse">
            <td><input type="radio" ng-model="moviesAdminVm.selectedValue" name="selectedTitle" value="{{movie.title}}" /></td>
            <td>{{movie.title}}</td>
            <td>{{movie.actor}}</td>
            <td>{{movie.year}}</td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-info actionMovieButton" ng-disabled="!moviesAdminVm.selectedValue" ng-click="moviesAdminVm.editRedirect(moviesAdminVm.selectedValue)">Edit</button>
    <button class="btn btn-danger actionMovieButton" ng-disabled="!moviesAdminVm.selectedValue" ng-click="moviesAdminVm.delMovie(moviesAdminVm.selectedValue)">Delete</button>
</div>