<!DOCTYPE html>
<html lang="en" ng-app='movieflix'>
<head>
    <meta charset="UTF-8">
    <title>Movieflix</title>

    <!-- bower:css -->
    <!-- endinject -->

    <!-- vendor:css -->
    <!-- endinject -->

    <!-- inject:css -->
    <!-- endinject -->

    <!-- app:css -->
    <!-- endinject -->

</head>
<body>
<section ng-view>

</section>
<footer>
    <div class="container">
        @ Amritanshu Joshi(<a href="https://github.com/amritanshujoshi">Github</a>)
    </div>
</footer>

<!-- bower:js -->
<!-- endinject -->

<!-- vendor:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->

<!-- app:js -->
<!-- endinject -->

</body>
</html>