<div class="container">
    <nav class="navbar navbar-default nav-pills">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand page-title" href="#/user/movies"><h2>Movieflix</h2>
                </a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <form name="reviewForm" ng-submit="reviewForm.$setPristine(); reviewVm.loginUser()">
        <div class="form-group">
            <label for="rating">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                   ng-model="reviewVm.username" required>
            <div ng-messages="review.username.$error" ng-if="review.username.$dirty">
                <p ng-show="review.username.$error.required" ng-message="required" class="error">Username is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                   ng-model="reviewVm.password" required>
            <div ng-messages="review.password.$error" ng-if="review.password.$dirty">
                <p ng-show="review.password.$error.required" ng-message="required" class="error">Password is required</p>
            </div>
        </div>

        <button type="submit" class="btn btn-primary formButton" ng-disabled="review.$invalid">Login</button>
    </form>
    <div class="registerButton">New User? <a href="" ng-click="reviewVm.redirectToSignup()">Register</a></div>
</div>