<div class="container">
    <nav class="navbar navbar-default nav-pills">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand page-title" href="#/user/movies"><h2>Movieflix</h2>
                </a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/user/movies">All Shows<span class="sr-only">(current)</span></a></li>
                    <li><a href="#/user/movies/topRated">Top Rated Movies<span class="sr-only">(current)</span></a></li>
                    <li><a href="#/user/movies/topVoted">Top Voted Movies<span class="sr-only">(current)</span></a></li>
                    <li><a href="#/user/series/topRated">Top Rated Series<span class="sr-only">(current)</span></a></li>
                    <li><a href="#/user/series/topVoted">Top Voted Series<span class="sr-only">(current)</span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
        <input type="search" ng-model="moviesVm.searchText.title" placeholder="Start typing here..."
               class="form-control searchBox">
    </div>
    <table class="table table-striped table-hover list">
        <thead>
        <tr>
            <th ng-click="moviesVm.changeSort('title')">Movie</th>
            <th>Actors</th>
            <th ng-click="moviesVm.changeSort('year')">Year</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="movie in moviesVm.movies | filter:moviesVm.searchText | orderBy: moviesVm.sorter.by:moviesVm.sorter.reverse">
            <td><a class="listlink" ng-href="#/user/movies/{{movie.title}}">{{movie.title}}</a></td>
            <td>{{movie.actor}}</td>
            <td>{{movie.year}}</td>
        </tr>
        </tbody>
    </table>
</div>