<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Movieflix - Registration</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/normalize.css.css">
    <link rel="stylesheet" type="text/css" href="../../styles/login.css">
</head>
<body>
<h1>MOVIEFLIX - Registration</h1>

<div class="container-fluid">

    <form class="col-md-2 col-md-offset-5">
        <div class="form-group">
            <div class="icon-addon addon-md">
                <input type="text" class="form-control" id="username" placeholder="Username">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="icon-addon addon-md">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="icon-addon addon-md">
                <input type="text" class="form-control" id="firstname" placeholder="First Name">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="icon-addon addon-md">
                <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="icon-addon addon-md">
                <input type="text" class="form-control" id="city" placeholder="City">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="icon-addon addon-md">
                <input type="text" class="form-control" id="state" placeholder="State">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="icon-addon addon-md">
                <input type="text" class="form-control" id="zip" placeholder="Zip Code">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <div class="form-group ">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </form>


</div>
</body>
</html>