<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Movieflix - Login</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<h1>MOVIEFLIXING</h1>

<div id="loginDiv">
    <form action="main.html" method="post">
        <label class="textboxLabels">Username: </label><input type="text" name="username" class="textboxes"/><br/>
        <label class="textboxLabels">Password: </label><input type="password" name="password" class="textboxes"/><br/>
        <input type="reset" value="Reset"/> <input type="submit" value="Login"/>
    </form>
</div>
</body>
</html>