.action {
    text-align: center;
    cursor: pointer;
}

.btn-danger {
    border-radius: 5px;
}

.createMovieButton {
    width: 15% !important;
}

.actionMovieButton {
    width: 15%;
    height: 15%;
    margin-right: 1.5em;
}

.genreList {
    margin-left: 4em;
    vertical-align: center;
    font-size: 1.5em;
    width: 15%;
}

.genreLabel {
    float:left;
    margin-top: 2.5em;
}

.alreadyGenre {
    font-size: 1.8em;
    margin-left: 2em;
}

.typeRadio {
    margin-left: 0.5em;
}